html { 
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
body { 
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
h3 {
  padding: 0;
}
#hud {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  color: #333;
  padding: 10px;
}
#hud.data {
  right: 0;
}
#hud table {
  width: 100%;
}
#hud table td {
  padding: 3px 10px 3px 0;
}
#hud table td.title {
  color: #3E576F;
  padding: 20px 0 5px 0;
  margin: 0 0 5px 0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
}
#hud form span {
  vertical-align: middle;
}
#hud form input {
  margin: 0;
  vertical-align: middle;
}
